exports.server = {
	port:80,
	name:"sample-app"
}

exports.database = {
	host:'localhost', 
	port:27017,
	user:"dbUser",
	password:"dbPassword",
	databaseName:"dbName",
	options:{
		safe:true
	}
};

// Comment this part if you want enable all name of resources
exports.resources = [
	'tests',
	'patates',
	'choux'
];

// Comment this part if you don't want authentication 
// For other authentication mode, please check https://github.com/gevorg/http-auth 
exports.auth = require('http-auth').basic({
    realm: "Protected area.",
    file: __dirname + "/users.htpasswd" // gevorg:gpass, Sarah:testpass ...
});